.col-md-8.offset-md-2.mt-5
  .row
    %h1.fs-5 管理者メニュー
    .col-md-6
      = link_to admins_products_path, class: 'text-decoration-none' do
        .card.d-flex.align-items-center.justify-content-center.admin-top-menu
          %p.fw-bolder 商品マスタ管理
          %span.small.text-muted 商品の登録、編集を行います
    .col-md-6
      = link_to admins_users_path, class: 'text-decoration-none' do
        .card.d-flex.align-items-center.justify-content-center.admin-top-menu
          %p.fw-bolder ユーザー管理
          %span.small.text-muted ユーザーの参照、編集を行います
